body{
    background: #464c4e;
    font-family: roboto;
    color: #fff;
    }
    h1{
    width: 550px;
    }
    .kotak{
    background: blue;
    width: 200px;
    height: 200px;
    animation-name: animasi_kotak;
    animation-duration: 2s;
    }
    @keyframes animasi_kotak{
    from{ background:red;}
    to{background: red;}
    to{background: rgb(207, 107, 12);}
    to{background: rgb(207, 171, 12);}
    to{background: rgb(149, 207, 12);}
    to{background: rgb(51, 207, 12);}
    to{background: rgb(12, 207, 93);}
    to{background: rgb(12, 207, 93);}
    to{background: rgb(12, 207, 165);}
    to{background: rgb(12, 207, 207);}
    to{background: rgb(12, 152, 207);}
    to{background: rgb(12, 80, 207);}
    to{background: rgb(12, 15, 207);}
    
    }