body{
    background: #88bbd1c5;
    font-family: roboto;
    text-align: center;
    }
    h1{
    color: rgb(0, 0, 0);
    }
    .ketengah{
    margin: 10px auto;
    width: 1150px;
    }
    .kotak{
        background: blue;
        width: 500px;
        float: left;
        height: 250px;
        margin: 30px;
        }
        .gradient1 {
        background: linear-gradient(rgb(219, 219, 219), rgb(13, 29, 13)); /* Standard syntax */
        background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(128, 15, 0)); /* For Safari 5.1 to
        6.0 */
        background: -o-linear-gradient(rgb(255, 255, 255), rgb(149, 35, 255)); /* For Opera 11.1 to 12.0
        */
        background: -moz-linear-gradient(rgb(255, 255, 255), rgb(5, 14, 5)); /* For Firefox 3.6 to 15
        */
        }
        .gradient2 {
        background: linear-gradient(to right, rgb(25, 0, 255) , rgb(39, 236, 0), green); /* Standard
        syntax */
        background: -webkit-linear-gradient(left, rgb(38, 0, 255) , rgb(19, 230, 19), green); /* For
        Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, rgb(55, 0, 255), rgb(21, 255, 0), green); /* For Opera
        11.1 to 12.0 */
        background: -moz-linear-gradient(right, rgb(25, 0, 255), rgb(0, 255, 13), green); /* For
        Firefox 3.6 to 15 */
        }
        .gradient3 {
         background: radial-gradient(red, rgb(255, 136, 0), yellow); /* Standard syntax */
         background: -webkit-radial-gradient(red, rgb(255, 153, 0), yellow); /* Safari 5.1
        to 6.0 */
         background: -o-radial-gradient(red, rgb(255, 153, 0),yellow); /* For Opera 11.6
        to 12.0 */
         background: -moz-radial-gradient(red, rgb(255, 145, 0), yellow); /* For Firefox
        3.6 to 15 */
        }
        .gradient4 {
         background: radial-gradient(circle, rgb(163, 0, 109), rgb(29, 74, 10), rgb(126, 27, 85)); /* Standard
        syntax */
         background: -webkit-radial-gradient(circle, rgb(47, 0, 255), rgb(13, 84, 11), rgb(128, 0, 117)); /*
        Safari */
         background: -o-radial-gradient(circle, rgb(38, 0, 255), rgb(11, 80, 17), rgb(73, 3, 82)); /* Opera
        11.6 to 12.0 */
         background: -moz-radial-gradient(circle, rgb(55, 0, 255), rgb(6, 100, 18), rgb(128, 0, 75)); /*
        Firefox 3.6 to 15 */
        }