p{  background-color:black;
    color: white;
    font-family: serif;
    line-height: 1. 75em;
    font-size: 18px;
}
h1{
    color: red;
    font-family: fantasy;

}
#a{
    color: white;
    background-color: slategrey;

}

#tag{
    color:greenyellow;
}